asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
cloudinary==1.44.0
Django>=4.2.11,<4.3
django-cloudinary-storage==0.3.0
django-environ==0.11.2
gunicorn==22.0.0
idna==3.10
packaging==25.0
pillow==11.2.1
psycopg==3.1.12
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.4.0
whitenoise==6.9.0
django-basicauth==0.5.3
