{% extends "base.html" %}
{% load static %}

{% block title %}商品一覧 - Happiness Shop{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">商品一覧</h1>
            <p class="lead fw-normal text-white-50 mb-0">買いたいもの見つかる</p>
        </div>
    </div>
</header>
<!-- Messages Section -->
{% include 'includes/messages.html' %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in items %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if item.image %}
                        <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}"/>
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/450x300.jpg' %}" alt="No Image"/>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">
                                <a href="{% url 'item:item_detail' item.pk %}" class="text-decoration-none text-dark">{{ item.name }}</a>
                            </h5>
                            <!-- Product price-->
                            {{ item.price|floatformat:0 }}円
                        </div>
                    </div>
                    <!-- Product actions-->
                    {% if item.stock > 0 %}
                    <form method="post" action="{% url 'cart:add_to_cart' item.id %}" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'item:item_list' %}">

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-dark mt-auto">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <span class="badge bg-secondary">在庫切れ</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            {# 商品が一つもない場合に表示されるメッセージ #}
            <div class="col-12 text-center">
                <p>商品が見つかりませんでした。</p>
            </div>
            {% endfor %}
        </div>
        {# ページネーション #}
        {% if is_paginated %}
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                {# 前のページへのリンク #}
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                {% endif %}

                {# ページ番号のリスト #}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %} {# 現在のページの場合 #}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                    {% else %} {# それ以外のページの場合 #}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {# 次のページへのリンク #}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {# ページネーションの追加ここまで #}
    </div>
</section>
{% endblock content %}